@import "../vars";

.menu {
  display: flex;
  gap: 35px;
  margin: 0;
  padding: 0;
  list-style: none;

  &__link {
    position: relative;
    padding-right: 13px;

    &::after {
      position: absolute;
      right: 0;
      top: 6px;
      border: 5px solid transparent;
      border-top: 5px solid $dark;
      content: "";
    }
  }
}
